@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
	;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	position: sticky;
	background: white;
	height: 68px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
}

.cont {
	display: flex;
	align-items: center;
	font-family: monospace;
	font-weight: bold;
}

.cont img {
	margin-right: 20px;
	max-height: 40px;
}

.cont ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.cont ul li {
	margin: 0 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.cont ul li#Studio {
	position: relative;
	top: -4px;
}

.cont1 {
	display: flex;
	align-items: center;
	font-family: monospace;
	font-weight: bold;
}

.desktop-searchBar {
	padding: 8px 10px;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f3f3f3;
	width: 240px;
}

.cont1 div {
	margin-left: 20px;
	text-align: center;
}

#timer {
	background-color: #f3f3f3;
	height: 40px;
	text-align: center;
	padding-top: 10px;
}

#timer span {
	color: pink !important;
}

ul li ul {
	display: block;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

ul li ul a {
	text-decoration: none;
	display: none;
}

ul li:hover ul {
	display: block;
	text-decoration: none;
}

ul li:hover ul a {
	display: block;
	text-decoration: none;
}

#timer1 {
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin:0px 350px 350px 350px;
}

#timer1 label {
	margin-bottom: 8px;
	font-weight: bold;
}

#timer1 input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#timer1 button {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

#timer1 button:hover {
	background-color: #45a049;
}
#divcont img{
	width: 200px;
	margin: 200px;
}